@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
   --blå: #2A324B;
   --grå: #58699D;
   --lilla:#E1E5EE;
   --Hvit: #fff;
}
body{
    margin: 0px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: var(--Hvit);
}
 
main{
    margin: 20px; 
 }

/*Det blåe*/
.navbar ul{
    list-style-type: none;
    background-color: var(--blå);
    padding: 0px;
    margin: 0px; 
    overflow: hidden;
    max-width: 1200px;
    
    

}

.navbar a{
    color: var(--Hvit);
    text-decoration: none; 
    padding: 15px;
    display: block; 
    text-align: center ;
}


.navbar a:hover{
        background-color: var(--Hvit);
        color:var(--blå);
         
}

.navbar li{
    float: left;
   
}